<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="page_head(title)">
<!--  -->
<meta http-equiv="X-Content-Type" content="text/html" charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<title>[[${title}]]</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/fontawesome/all.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>

<body>
	<!-- 項目ごとに昇順・降順で表示するための矢印に紐づく処理 -->
	<th th:fragment="column_link(fieldName,columnLabel)">
		<!--  同じカラムで昇順・降順を繰り返す間： 
		sortField != fieldName は常にfalse->これまで通り、パラメータのasc/descをリバースするだけ--> <!--  あるカラムから別のカラムのソート行う場合： 
		sortField != fieldName がtrue->あるカラムの昇順・降順の状態は引き継いで、ソート対象を別のカラムにする--> <a
		class="text-white"
		th:href="@{'/users/page/' + ${currentPage} + 
		'?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + 
		${keyword != null?'&keyword=' + keyword : ''}}">[[${columnLabel}]]
	</a> <span th:if="${sortField == fieldName}"
		th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
	</th>

	<!-- ページング -->
	<a th:fragment="page_link(pageNum,label)" class="page-link"
		th:href="@{'/users/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + 
		${keyword != null?'&keyword=' + keyword : ''}}">[[${label}]]</a>

	<!-- edit part -->
	<a th:fragment="edit(module,path)" class="fas fa-edit fa-2x icon-green"
		th:href="@{${path}}" th:title="'Edit This ' + ${module}"></a>

	<!-- delete part -->
	<a th:fragment="delete(module,id,path)"
		class="fas fa-trash fa-2x icon-red" th:href="@{${path}}"
		th:entityId="${id}" th:title="'Delete This ' + ${module}"></a>

	<!-- フッター -->
	<div th:fragment="footer">
		<hr>
		<div class="text-center">
			<p>Shop me Control Panel - copyright &copy; Shopme</p>
		</div>
	</div>

</body>
</html>