<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle},'none')" />
<meta charset="UTF-8">
<title>Welcome</title>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>
		<div th:replace="breadcrumb :: content"></div>

		<!-- check here!! -->
		<div class="row text-center">
			<th:block th:each="ctgr : ${category.children}">
				<div class="col" th:if="${ctgr.enabled == true}">
					<a th:href="@{'/c/' + ${ctgr.alias}}"> <img
						th:src="@{${ctgr.imagePath}}" height="100" /> <br /> <b>[[${ctgr.name}]]</b>
					</a>
				</div>
			</th:block>
		</div>

		<div class="row">&nbsp;</div>
		<div class="row">
			<th:block th:each="product : ${listProducts}">
				<div class="col">
					<div>
						<a th:href="@{'/p/' + ${product.alias}}"> <img
							style="width: 150px;" th:src="@{${product.mainImagePath}}" /> <br />
							<b>[[${product.shortName}]]</b>
						</a>
					</div>
					<div th:if="${product.discountPercent <=0 }">
						<span>[[${product.intPrice}]] yen</span>
					</div>
					<div th:if="${product.discountPercent > 0}">
						<span style="font-size: larger; color: darkred">[[${product.discountPrice}]] yen</span>
						<del>
							<span>[[${product.price}]] yen</span>
						</del>
					</div>
				</div>
			</th:block>
		</div>
		<div
			th:replace="fragments :: pagination('/c/' + ${category.alias}, 'product')"></div>
		<div th:replace="navigation :: footer_menu"></div>
	</div>
</body>
</html>