<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::page_head('Products','none')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation::menu"></div>
		<div>
			<h2>Products</h2>
			<a th:href="@{/products/new}">Create New Products</a>&nbsp;
			<!--|&nbsp; <a
				th:href="@{/users/export/csv}">Export to Csv</a> &nbsp;|&nbsp; <a
				th:href="@{/users/export/pdf}">Export to PDF</a> -->
		</div>
		<div th:if="${msg != null}" class="alert alert-success text-center">[[${msg}]]</div>

		<div>
			<form th:action="@{/products/page/1}" class="form-inline">
				<input type="hidden" name="sortField" th:value="${sortField}">
				<input type="hidden" name="sortDir" th:value="${sortDir}">
				<div class="m-1">
					Filter:&nbsp; <input type="search" name="keyword"
						th:value="${keyword}" class="form-control" required />
				</div>
				<div class="m-1">
					<input type="submit" value="search" class="btn btn-primary" />
				</div>
				<div class="m-1">
					<input type="button" value="clear" class="btn btn-secondary"
						onclick="clearFilter()" />
				</div>
			</form>
		</div>


		<div>
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Main Image</th>
						<th>Product Name</th>
						<th>Brand</th>
						<th>Categories</th>
						<th>Enabled</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${products}">
						<td>[[${product.id}]]</td>
						<td><img alt="No-image" th:src="@{${product.mainImagePath}}"
							style="max-width: 200px; margin: 0 auto"></td>
						<td>[[${product.name}]]</td>
						<td>[[${product.brand.name}]]</td>
						<td>[[${product.category.name}]]</td>
						<td><a th:if="${product.enabled == true }"
							class="fas fa-check-circle fa-2x" href=""></a><a
							th:if="${product.enabled != true }"
							class="fas fa-check-circle fa-2x icon-dark" href=""></a></td>
						<td><a class="fas fa-file-alt fa-2x icon-green"
							th:href="@{'/products/detail/' + ${product.id}}"
							title="View Details of this product"></a> &nbsp; <a
							th:replace="fragments::edit('products','/products/edit/' + ${product.id})"></a>&nbsp;
							<a
							th:replace="fragments::delete('products',${product.id},'/products/edit/' + ${product.id})"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- <div class="text-center m-2" th:if="${totalItems > 0}">
			<span> Showing Users [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
		</div>
		<div class="text-center m-2" th:unless="${totalItems > 0}">
			<span>No Users Found</span>
		</div>

		<div th:if="${totalPages > 1}">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li
						th:class="${currentPage > 1 ? 'page-item':'page-item disabled'}"><a
						th:replace="fragments::page_link(1,'First')"></a></li>
					<li
						th:class="${currentPage > 1 ? 'page-item':'page-item disabled'}">
						<a
						th:replace="fragments::page_link(${currentPage - 1},'Previous')"></a>
					</li>

					<li th:class="${currentPage !=i ? 'page-item':'page-item active'}"
						th:each="i : ${#numbers.sequence(1,totalPages)}"><a
						th:replace="fragments::page_link(${i},${i})"></a>
					<li
						th:class="${currentPage < totalPages ? 'page-item':'page-item disabled'}">
						<a th:replace="fragments::page_link(${currentPage + 1},'Next')"></a>
					</li>
					<li
						th:class="${currentPage < totalPages ? 'page-item':'page-item disabled'}">
						<a th:replace="fragments::page_link(${totalPages},'Last')"></a>
					</li>
				</ul>
			</nav>
		</div> -->

		<div th:replace="fragments::footer"></div>
	</div>
	<script type="text/javascript">
		function clearFilter() {
			window.location = "[[@{/products}]]";
		}
	</script>
</body>
</html>