<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content" th:remove="tag">
		<div class="m-2">
			<label>[Short Description]</label>
			<div th:utext="${product.shortDescription}" class="border m-2 p-2"
			th:value="${product.shortDescription}"
			>
			</div>
		</div>
		<div class="m-2">
			<label>[Full Description]</label>
			<div th:utext="${product.fullDescription}" class="border m-2 p-2"
			th:value="${product.fullDescription}"
			></div>
		</div>
	</div>
</body>
</html>