<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments::page_head('Products','none')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation::menu"></div>
		<div>
			<h2>Products</h2>
			<th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
				<a th:href="@{/products/new}">Create New Products</a>&nbsp;
			<!--|&nbsp; <a
				th:href="@{/users/export/csv}">Export to Csv</a> &nbsp;|&nbsp; <a
				th:href="@{/users/export/pdf}">Export to PDF</a> -->
			</th:block>
		</div>
		<div th:if="${msg != null}" class="alert alert-success text-center">[[${msg}]]</div>

		<div>
			<form th:action="@{/products/page/1}" class="form-inline">
				<input type="hidden" name="sortField" th:value="${sortField}">
				<input type="hidden" name="sortDir" th:value="${sortDir}">
				<div class="m-1">
					Filter:&nbsp; <input type="search" name="keyword"
						th:value="${keyword}" class="form-control" required />
				</div>
				<div class="m-1">
					<input type="submit" value="search" class="btn btn-primary" />
				</div>
				<div class="m-1">
					<input type="button" value="clear" class="btn btn-secondary"
						onclick="clearFilter()" />
				</div>
			</form>
		</div>


		<div>
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th
							th:replace="fragments::column_link('/products','id','ID','none')" />
						<th>Main Image</th>
						<th
							th:replace="fragments::column_link('/products','name','Product Name','none')" />
						<th
							th:replace="fragments::column_link('/products','brand','Brand','none')" />
						<th
							th:replace="fragments::column_link('/products','category','Category','none')" />
						<th:block
							sec:authorize="hasAnyAuthority('Admin','Editor')">
							<th>Enabled</th>
						</th:block>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${products}">
						<td>[[${product.id}]]</td>
						<td><img alt="No-image" th:src="@{${product.mainImagePath}}"
							style="max-width: 200px; margin: 0 auto"></td>
						<td><a class="link-detail"
							th:href="@{'/products/detail/' + ${product.id}}"
							th:title="${product.name}">[[${product.shortName}]]</a></td>
						<td>[[${product.brand.name}]]</td>
						<td>[[${product.category.name}]]</td>
						<th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
							<td><a th:if="${product.enabled == true }"
								class="fas fa-check-circle fa-2x" href=""></a><a
								th:if="${product.enabled != true }"
								class="fas fa-check-circle fa-2x icon-dark" href=""></a></td>
						</th:block>
						<td><a class="fas fa-file-alt fa-2x icon-green link-detail"
							th:href="@{'/products/detail/' + ${product.id}}"
							title="View Details of this product"></a> 
						<th:block sec:authorize="hasAnyAuthority('Admin','Editor','SalesPerson')">
							&nbsp; <a th:replace="fragments::edit('products','/products/edit/' + ${product.id})"></a>
						</th:block> 
						&nbsp; 
						<th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
							<a th:replace="fragments::delete('products',${product.id},'/products/edit/' + ${product.id})"></a>
						</th:block>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="modal fade" id="detailModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content"></div>
			</div>
		</div>

		<div th:replace="fragments::pagination('/products','Products')"></div>

		<div th:replace="fragments::footer"></div>
	</div>
	<script type="text/javascript">
		moduleURL = "[[@{/products}]]";

		$(document).ready(
				function() {
					$(".link-detail").on(
							"click",
							function(e) {
								e.preventDefault();
								linkDetailURL = $(this).attr("href");
								$("#detailModal").modal("show").find(
										".modal-content").load(linkDetailURL);
							});
				});
		function clearFilter() {
			window.location = "[[@{/products}]]";
		}
	</script>
</body>
</html>