<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="fragments :: page_head('Settings -Shopme','tag')" /></head>
<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
<script th:src=@{/richtext/jquery.richtext.min.js}></script>

<meta charset="ISO-8859-1">
<body>
	<div class="container-fluid">
		<div th:replace="navigation::menu"></div>
		<div>
			<h2>Site Setting</h2>
		</div>
		<div th:if="${msg != null}" class="alert alert-success text-center">[[${msg}]]</div>
		<div>
			<ul class="nav nav-tabs" id="settingTab" role="tabList">
				<li class="nav-item"><a class="nav-link active"
					data-toggle="tab" href="#general" role="tab">General</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab"
					href="#countries" role="tab">Countries</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab"
					href="#states" role="tab">States</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab"
					href="#mailServer" role="tab">Mail Server</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab"
					href="#mailTemplate" role="tab">Mail Template</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab"
					href="#payment" role="tab">Payment</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active p-3" id="general" role="tabpanel">
					<div th:replace="settings/general :: content"></div>
				</div>
				<div class="tab-pane" id="countries" role="tabpanel">
					<div th:replace="settings/countries :: content"></div>
				</div>
				<div class="tab-pane" id="states" role="tabpanel">
					<div th:replace="settings/states :: content"></div>
				</div>
				<div class="tab-pane" id="mailServer" role="tabpanel">
					<div th:replace="settings/mail_server :: content"></div>
				</div>
				<div class="tab-pane p-3" id="mailTemplate" role="tabpanel">
					<div th:replace="settings/mail_templates/mail_templates :: content"></div>
				</div>
				<div class="tab-pane p-3" id="payment" role="tabpanel">
					<h2>Payment</h2>
				</div>
			</div>
		</div>
		<div th:replace="modal_fragments::modal_dialog"></div>


		<div th:replace="fragments::footer"></div>
	</div>
	<script type="text/javascript">
		MAX_FILE_SIZE = 102400;
		contextPath = "[[@{/}]]";
		var csrfHeaderName = "[[${_csrf.headerName}]]";
		var csrfValue = "[[${_csrf.token}]]";

		$(document).ready(function() {
			$("#customerVerificationContent").richText();
		});
	</script>
	<script th:src="@{/js/common_form.js}"></script>
	<script th:src="@{/js/countries_setting.js}"></script>
	<script th:src="@{/js/states_setting.js}"></script>
</body>
</html>